backend/resources/declarations/d120_13052025.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="mfp:anaf:dgti:d120:declaratie:v5" targetNamespace="mfp:anaf:dgti:d120:declaratie:v5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.02" xml:lang="ro">
	<xs:element name="declaratie120" type="Declaratie120Type"/>
	<xs:complexType name="Declaratie120Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:sequence>
					<xs:element name="accize" type="AccizeType"/>
				</xs:sequence>
				<xs:attribute name="an" type="IntInt2016_2100SType" use="required"/>
				<xs:attribute name="luna" type="IntInt12_12SType" use="required"/>
				<xs:attribute name="d_rec" type="IntInt0_1SType" use="required"/>
				<xs:attribute name="den" type="Str200" use="required"/>
				<xs:attribute name="cui" type="CuiSType" use="required"/>
				<xs:attribute name="cifS" type="CuiSType"/>
				<xs:attribute name="caen" type="Str_listaCaenSType" use="required"/>
				<xs:attribute name="adresa" type="Str1000"/>
				<xs:attribute name="telefon" type="Str15"/>
				<xs:attribute name="fax" type="Str15"/>
				<xs:attribute name="email" type="Email200SType"/>
				<xs:attribute name="nume_declar" type="Str75" use="required"/>
				<xs:attribute name="prenume_declar" type="Str75" use="required"/>
				<xs:attribute name="functie_declar" type="Str50" use="required"/>
				<xs:attribute name="totalPlata_A" type="IntNeg16SType" use="required"/>
				<xs:attribute name="cifR" type="CuiSType"/>
				<xs:attribute name="denR" type="Str200"/>
				<xs:attribute name="adrR" type="Str1000"/>
				<xs:attribute name="telR" type="Str15"/>
				<xs:attribute name="faxR" type="Str15"/>
				<xs:attribute name="emailR" type="Email200SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AccizeType">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="R0_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R0_C2" type="Str_um1SType"/>
				<xs:attribute name="R0_C3" type="IntNeg15SType"/>
				<xs:attribute name="R1_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R1_C2" type="Str_um1SType"/>
				<xs:attribute name="R1_C3" type="IntNeg15SType"/>
				<xs:attribute name="R2_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R2_C2" type="Str_um2SType"/>
				<xs:attribute name="R2_C3" type="IntNeg15SType"/>
				<xs:attribute name="R3_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R3_C2" type="Str_um2SType"/>
				<xs:attribute name="R3_C3" type="IntNeg15SType"/>
				<xs:attribute name="R4_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R4_C2" type="Str_um2SType"/>
				<xs:attribute name="R4_C3" type="IntNeg15SType"/>
				<xs:attribute name="R5_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R5_C2" type="Str_um2SType"/>
				<xs:attribute name="R5_C3" type="IntNeg15SType"/>
				<xs:attribute name="R6_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R6_C2" type="Str_um2SType"/>
				<xs:attribute name="R6_C3" type="IntNeg15SType"/>
				<xs:attribute name="R6_1_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R6_1_C2" type="Str_um2SType"/>
				<xs:attribute name="R6_1_C3" type="IntNeg15SType"/>
				<xs:attribute name="R6_2_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R6_2_C2" type="Str_um2SType"/>
				<xs:attribute name="R6_2_C3" type="IntNeg15SType"/>
				<xs:attribute name="R7_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R7_C2" type="Str_um2SType"/>
				<xs:attribute name="R7_C3" type="IntNeg15SType"/>
				<xs:attribute name="R7_1_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R7_1_C2" type="Str_um2SType"/>
				<xs:attribute name="R7_1_C3" type="IntNeg15SType"/>
				<xs:attribute name="R8_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R8_C2" type="Str_um2SType"/>
				<xs:attribute name="R8_C3" type="IntNeg15SType"/>
				<xs:attribute name="R9_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R9_C2" type="Str_um11SType"/>
				<xs:attribute name="R9_C3" type="IntNeg15SType"/>
				<xs:attribute name="R9_1_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R9_1_C2" type="Str_um11SType"/>
				<xs:attribute name="R9_1_C3" type="IntNeg15SType"/>
				<xs:attribute name="R10_C3" type="IntNeg15SType"/>
				<xs:attribute name="R11_C3" type="IntNeg15SType"/>
				<xs:attribute name="R12_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R12_C2" type="Str_um3SType"/>
				<xs:attribute name="R12_C3" type="IntNeg15SType"/>
				<xs:attribute name="R13_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R13_C2" type="Str_um4SType"/>
				<xs:attribute name="R13_C3" type="IntNeg15SType"/>
				<xs:attribute name="R14_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R14_C2" type="Str_um5SType"/>
				<xs:attribute name="R14_C3" type="IntNeg15SType"/>
				<xs:attribute name="R15_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R15_C2" type="Str_um5SType"/>
				<xs:attribute name="R15_C3" type="IntNeg15SType"/>
				<xs:attribute name="R16_C3" type="IntNeg15SType"/>
				<xs:attribute name="R17_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R17_C2" type="Str_um6SType"/>
				<xs:attribute name="R17_C3" type="IntNeg15SType"/>
				<xs:attribute name="R18_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R18_C2" type="Str_um6SType"/>
				<xs:attribute name="R18_C3" type="IntNeg15SType"/>
				<xs:attribute name="R19_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R19_C2" type="Str_um6SType"/>
				<xs:attribute name="R19_C3" type="IntNeg15SType"/>
				<xs:attribute name="R20_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R20_C2" type="Str_um7SType"/>
				<xs:attribute name="R20_C3" type="IntNeg15SType"/>
				<xs:attribute name="R20_1_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R20_1_C2" type="Str_um7SType"/>
				<xs:attribute name="R20_1_C3" type="IntNeg15SType"/>
				<xs:attribute name="R20_2_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R20_2_C2" type="Str_um7SType"/>
				<xs:attribute name="R20_2_C3" type="IntNeg15SType"/>
				<xs:attribute name="R21_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R21_C2" type="Str_um7SType"/>
				<xs:attribute name="R21_C3" type="IntNeg15SType"/>
				<xs:attribute name="R22_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R22_C2" type="Str_um7SType"/>
				<xs:attribute name="R22_C3" type="IntNeg15SType"/>
				<xs:attribute name="R23_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R23_C2" type="Str_um7SType"/>
				<xs:attribute name="R23_C3" type="IntNeg15SType"/>
				<xs:attribute name="R24_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R24_C2" type="Str_um7SType"/>
				<xs:attribute name="R24_C3" type="IntNeg15SType"/>
				<xs:attribute name="R25_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R25_C2" type="Str_um8SType"/>
				<xs:attribute name="R25_C3" type="IntNeg15SType"/>
				<xs:attribute name="R26_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R26_C2" type="Str_um8SType"/>
				<xs:attribute name="R26_C3" type="IntNeg15SType"/>
				<xs:attribute name="R27_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R27_C2" type="Str_um8SType"/>
				<xs:attribute name="R27_C3" type="IntNeg15SType"/>
				<xs:attribute name="R27_1_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R27_1_C2" type="Str_um8SType"/>
				<xs:attribute name="R27_1_C3" type="IntNeg15SType"/>
				<xs:attribute name="R27_2_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R27_2_C2" type="Str_um8SType"/>
				<xs:attribute name="R27_2_C3" type="IntNeg15SType"/>
				<xs:attribute name="R28_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R28_C2" type="Str_um6SType"/>
				<xs:attribute name="R28_C3" type="IntNeg15SType"/>
				<xs:attribute name="R28_1_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R28_1_C2" type="Str_um6SType"/>
				<xs:attribute name="R28_1_C3" type="IntNeg15SType"/>
				<xs:attribute name="R28_2_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R28_2_C2" type="Str_um6SType"/>
				<xs:attribute name="R28_2_C3" type="IntNeg15SType"/>
				<xs:attribute name="R29_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R29_C2" type="Str_um8SType"/>
				<xs:attribute name="R29_C3" type="IntNeg15SType"/>
				<xs:attribute name="R29_1_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R29_1_C2" type="Str_um8SType"/>
				<xs:attribute name="R29_1_C3" type="IntNeg15SType"/>
				<xs:attribute name="R29_2_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R29_2_C2" type="Str_um8SType"/>
				<xs:attribute name="R29_2_C3" type="IntNeg15SType"/>
				<xs:attribute name="R30_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R30_C2" type="Str_um9SType"/>
				<xs:attribute name="R30_C3" type="IntNeg15SType"/>
				<xs:attribute name="R31_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R31_C2" type="Str_um9SType"/>
				<xs:attribute name="R31_C3" type="IntNeg15SType"/>
				<xs:attribute name="R32_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R32_C2" type="Str_um9SType"/>
				<xs:attribute name="R32_C3" type="IntNeg15SType"/>
				<xs:attribute name="R33_C3" type="IntNeg15SType"/>
				<xs:attribute name="R34_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R34_C2" type="Str_um12SType"/>
				<xs:attribute name="R34_C3" type="IntNeg15SType"/>
				<xs:attribute name="R35_C1" type="DblNeg15_3SType"/>
				<xs:attribute name="R35_C2" type="Str_um5SType"/>
				<xs:attribute name="R35_C3" type="IntNeg15SType"/>
				<xs:attribute name="R36_C3" type="IntNeg15SType"/>
				<xs:attribute name="R37_C3" type="IntNeg15SType"/>
				<xs:attribute name="ded1_C1" type="IntNeg15SType"/>
				<xs:attribute name="ded2_C1" type="IntNeg15SType"/>
				<xs:attribute name="ded3_C1" type="IntNeg15SType"/>
				<xs:attribute name="ded4_C1" type="IntNeg15SType"/>
				<xs:attribute name="ded5_C1" type="IntNeg15SType"/>
				<xs:attribute name="ded6_C1" type="IntNeg15SType"/>
				<xs:attribute name="ded7_C1" type="IntNeg15SType"/>
				<xs:attribute name="ded8_C1" type="IntNeg15SType"/>
				<xs:attribute name="ded9_C1" type="IntNeg15SType"/>
                                <xs:attribute name="R6_3_C1" type="DblNeg15_3SType"/>
                                <xs:attribute name="R6_3_C2" type="Str_um5SType"/>
                                <xs:attribute name="R6_3_C3" type="IntNeg15SType"/>
                                <xs:attribute name="R36_C1" type="DblNeg15_3SType"/>
                                <xs:attribute name="R36_C2" type="Str_um5SType"/>
                                <xs:attribute name="R37_C1" type="DblNeg15_3SType"/>
                                <xs:attribute name="R37_C2" type="Str_um5SType"/>
                                <xs:attribute name="R38_C1" type="DblNeg15_3SType"/>
                                <xs:attribute name="R38_C2" type="Str_um5SType"/>
                                <xs:attribute name="R38_C3" type="IntNeg15SType"/>
                                <xs:attribute name="R39_C1" type="DblNeg15_3SType"/>
                                <xs:attribute name="R39_C2" type="Str_um5SType"/>
                                <xs:attribute name="R39_C3" type="IntNeg15SType"/>
                                <xs:attribute name="R40_C3" type="IntNeg15SType"/>
                                <xs:attribute name="R41_C3" type="IntNeg15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="IntInt2016_2100SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="2016"/>
			<xs:maxInclusive value="2100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt12_12SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="12"/>
			<xs:maxInclusive value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt0_1SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str200">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CuiSType">
		<xs:restriction base="xs:token">
			<xs:pattern value="[1-9]\d{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_listaCaenSType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
			<xs:enumeration value="0111"/>
			<xs:enumeration value="0112"/>
			<xs:enumeration value="0113"/>
			<xs:enumeration value="0114"/>
			<xs:enumeration value="0115"/>
			<xs:enumeration value="0116"/>
			<xs:enumeration value="0119"/>
			<xs:enumeration value="0121"/>
			<xs:enumeration value="0122"/>
			<xs:enumeration value="0123"/>
			<xs:enumeration value="0124"/>
			<xs:enumeration value="0125"/>
			<xs:enumeration value="0126"/>
			<xs:enumeration value="0127"/>
			<xs:enumeration value="0128"/>
			<xs:enumeration value="0129"/>
			<xs:enumeration value="0130"/>
			<xs:enumeration value="0141"/>
			<xs:enumeration value="0142"/>
			<xs:enumeration value="0143"/>
			<xs:enumeration value="0144"/>
			<xs:enumeration value="0145"/>
			<xs:enumeration value="0146"/>
			<xs:enumeration value="0147"/>
			<xs:enumeration value="0149"/>
			<xs:enumeration value="0150"/>
			<xs:enumeration value="0161"/>
			<xs:enumeration value="0162"/>
			<xs:enumeration value="0163"/>
			<xs:enumeration value="0164"/>
			<xs:enumeration value="0170"/>
			<xs:enumeration value="0210"/>
			<xs:enumeration value="0220"/>
			<xs:enumeration value="0230"/>
			<xs:enumeration value="0240"/>
			<xs:enumeration value="0311"/>
			<xs:enumeration value="0312"/>
			<xs:enumeration value="0321"/>
			<xs:enumeration value="0322"/>
			<xs:enumeration value="0510"/>
			<xs:enumeration value="0520"/>
			<xs:enumeration value="0610"/>
			<xs:enumeration value="0620"/>
			<xs:enumeration value="0710"/>
			<xs:enumeration value="0721"/>
			<xs:enumeration value="0729"/>
			<xs:enumeration value="0811"/>
			<xs:enumeration value="0812"/>
			<xs:enumeration value="0891"/>
			<xs:enumeration value="0892"/>
			<xs:enumeration value="0893"/>
			<xs:enumeration value="0899"/>
			<xs:enumeration value="0910"/>
			<xs:enumeration value="0990"/>
			<xs:enumeration value="1011"/>
			<xs:enumeration value="1012"/>
			<xs:enumeration value="1013"/>
			<xs:enumeration value="1020"/>
			<xs:enumeration value="1031"/>
			<xs:enumeration value="1032"/>
			<xs:enumeration value="1039"/>
			<xs:enumeration value="1041"/>
			<xs:enumeration value="1042"/>
			<xs:enumeration value="1051"/>
			<xs:enumeration value="1052"/>
			<xs:enumeration value="1061"/>
			<xs:enumeration value="1062"/>
			<xs:enumeration value="1071"/>
			<xs:enumeration value="1072"/>
			<xs:enumeration value="1073"/>
			<xs:enumeration value="1081"/>
			<xs:enumeration value="1082"/>
			<xs:enumeration value="1083"/>
			<xs:enumeration value="1084"/>
			<xs:enumeration value="1085"/>
			<xs:enumeration value="1086"/>
			<xs:enumeration value="1089"/>
			<xs:enumeration value="1091"/>
			<xs:enumeration value="1092"/>
			<xs:enumeration value="1101"/>
			<xs:enumeration value="1102"/>
			<xs:enumeration value="1103"/>
			<xs:enumeration value="1104"/>
			<xs:enumeration value="1105"/>
			<xs:enumeration value="1106"/>
			<xs:enumeration value="1107"/>
			<xs:enumeration value="1200"/>
			<xs:enumeration value="1310"/>
			<xs:enumeration value="1320"/>
			<xs:enumeration value="1330"/>
			<xs:enumeration value="1391"/>
			<xs:enumeration value="1392"/>
			<xs:enumeration value="1393"/>
			<xs:enumeration value="1394"/>
			<xs:enumeration value="1395"/>
			<xs:enumeration value="1396"/>
			<xs:enumeration value="1399"/>
			<xs:enumeration value="1411"/>
			<xs:enumeration value="1412"/>
			<xs:enumeration value="1413"/>
			<xs:enumeration value="1414"/>
			<xs:enumeration value="1419"/>
			<xs:enumeration value="1420"/>
			<xs:enumeration value="1431"/>
			<xs:enumeration value="1439"/>
			<xs:enumeration value="1511"/>
			<xs:enumeration value="1512"/>
			<xs:enumeration value="1520"/>
			<xs:enumeration value="1610"/>
			<xs:enumeration value="1621"/>
			<xs:enumeration value="1622"/>
			<xs:enumeration value="1623"/>
			<xs:enumeration value="1624"/>
			<xs:enumeration value="1629"/>
			<xs:enumeration value="1711"/>
			<xs:enumeration value="1712"/>
			<xs:enumeration value="1721"/>
			<xs:enumeration value="1722"/>
			<xs:enumeration value="1723"/>
			<xs:enumeration value="1724"/>
			<xs:enumeration value="1729"/>
			<xs:enumeration value="1811"/>
			<xs:enumeration value="1812"/>
			<xs:enumeration value="1813"/>
			<xs:enumeration value="1814"/>
			<xs:enumeration value="1820"/>
			<xs:enumeration value="1910"/>
			<xs:enumeration value="1920"/>
			<xs:enumeration value="2011"/>
			<xs:enumeration value="2012"/>
			<xs:enumeration value="2013"/>
			<xs:enumeration value="2014"/>
			<xs:enumeration value="2015"/>
			<xs:enumeration value="2016"/>
			<xs:enumeration value="2017"/>
			<xs:enumeration value="2020"/>
			<xs:enumeration value="2030"/>
			<xs:enumeration value="2041"/>
			<xs:enumeration value="2042"/>
			<xs:enumeration value="2051"/>
			<xs:enumeration value="2052"/>
			<xs:enumeration value="2053"/>
			<xs:enumeration value="2059"/>
			<xs:enumeration value="2060"/>
			<xs:enumeration value="2110"/>
			<xs:enumeration value="2120"/>
			<xs:enumeration value="2211"/>
			<xs:enumeration value="2219"/>
			<xs:enumeration value="2221"/>
			<xs:enumeration value="2222"/>
			<xs:enumeration value="2223"/>
			<xs:enumeration value="2229"/>
			<xs:enumeration value="2311"/>
			<xs:enumeration value="2312"/>
			<xs:enumeration value="2313"/>
			<xs:enumeration value="2314"/>
			<xs:enumeration value="2319"/>
			<xs:enumeration value="2320"/>
			<xs:enumeration value="2331"/>
			<xs:enumeration value="2332"/>
			<xs:enumeration value="2341"/>
			<xs:enumeration value="2342"/>
			<xs:enumeration value="2343"/>
			<xs:enumeration value="2344"/>
			<xs:enumeration value="2349"/>
			<xs:enumeration value="2351"/>
			<xs:enumeration value="2352"/>
			<xs:enumeration value="2361"/>
			<xs:enumeration value="2362"/>
			<xs:enumeration value="2363"/>
			<xs:enumeration value="2364"/>
			<xs:enumeration value="2365"/>
			<xs:enumeration value="2369"/>
			<xs:enumeration value="2370"/>
			<xs:enumeration value="2391"/>
			<xs:enumeration value="2399"/>
			<xs:enumeration value="2410"/>
			<xs:enumeration value="2420"/>
			<xs:enumeration value="2431"/>
			<xs:enumeration value="2432"/>
			<xs:enumeration value="2433"/>
			<xs:enumeration value="2434"/>
			<xs:enumeration value="2441"/>
			<xs:enumeration value="2442"/>
			<xs:enumeration value="2443"/>
			<xs:enumeration value="2444"/>
			<xs:enumeration value="2445"/>
			<xs:enumeration value="2446"/>
			<xs:enumeration value="2451"/>
			<xs:enumeration value="2452"/>
			<xs:enumeration value="2453"/>
			<xs:enumeration value="2454"/>
			<xs:enumeration value="2511"/>
			<xs:enumeration value="2512"/>
			<xs:enumeration value="2521"/>
			<xs:enumeration value="2529"/>
			<xs:enumeration value="2530"/>
			<xs:enumeration value="2540"/>
			<xs:enumeration value="2550"/>
			<xs:enumeration value="2561"/>
			<xs:enumeration value="2562"/>
			<xs:enumeration value="2571"/>
			<xs:enumeration value="2572"/>
			<xs:enumeration value="2573"/>
			<xs:enumeration value="2591"/>
			<xs:enumeration value="2592"/>
			<xs:enumeration value="2593"/>
			<xs:enumeration value="2594"/>
			<xs:enumeration value="2599"/>
			<xs:enumeration value="2611"/>
			<xs:enumeration value="2612"/>
			<xs:enumeration value="2620"/>
			<xs:enumeration value="2630"/>
			<xs:enumeration value="2640"/>
			<xs:enumeration value="2651"/>
			<xs:enumeration value="2652"/>
			<xs:enumeration value="2660"/>
			<xs:enumeration value="2670"/>
			<xs:enumeration value="2680"/>
			<xs:enumeration value="2711"/>
			<xs:enumeration value="2712"/>
			<xs:enumeration value="2720"/>
			<xs:enumeration value="2731"/>
			<xs:enumeration value="2732"/>
			<xs:enumeration value="2733"/>
			<xs:enumeration value="2740"/>
			<xs:enumeration value="2751"/>
			<xs:enumeration value="2752"/>
			<xs:enumeration value="2790"/>
			<xs:enumeration value="2811"/>
			<xs:enumeration value="2812"/>
			<xs:enumeration value="2813"/>
			<xs:enumeration value="2814"/>
			<xs:enumeration value="2815"/>
			<xs:enumeration value="2821"/>
			<xs:enumeration value="2822"/>
			<xs:enumeration value="2823"/>
			<xs:enumeration value="2824"/>
			<xs:enumeration value="2825"/>
			<xs:enumeration value="2829"/>
			<xs:enumeration value="2830"/>
			<xs:enumeration value="2841"/>
			<xs:enumeration value="2849"/>
			<xs:enumeration value="2891"/>
			<xs:enumeration value="2892"/>
			<xs:enumeration value="2893"/>
			<xs:enumeration value="2894"/>
			<xs:enumeration value="2895"/>
			<xs:enumeration value="2896"/>
			<xs:enumeration value="2899"/>
			<xs:enumeration value="2910"/>
			<xs:enumeration value="2920"/>
			<xs:enumeration value="2931"/>
			<xs:enumeration value="2932"/>
			<xs:enumeration value="3011"/>
			<xs:enumeration value="3012"/>
			<xs:enumeration value="3020"/>
			<xs:enumeration value="3030"/>
			<xs:enumeration value="3040"/>
			<xs:enumeration value="3091"/>
			<xs:enumeration value="3092"/>
			<xs:enumeration value="3099"/>
			<xs:enumeration value="3101"/>
			<xs:enumeration value="3102"/>
			<xs:enumeration value="3103"/>
			<xs:enumeration value="3109"/>
			<xs:enumeration value="3211"/>
			<xs:enumeration value="3212"/>
			<xs:enumeration value="3213"/>
			<xs:enumeration value="3220"/>
			<xs:enumeration value="3230"/>
			<xs:enumeration value="3240"/>
			<xs:enumeration value="3250"/>
			<xs:enumeration value="3291"/>
			<xs:enumeration value="3299"/>
			<xs:enumeration value="3311"/>
			<xs:enumeration value="3312"/>
			<xs:enumeration value="3313"/>
			<xs:enumeration value="3314"/>
			<xs:enumeration value="3315"/>
			<xs:enumeration value="3316"/>
			<xs:enumeration value="3317"/>
			<xs:enumeration value="3319"/>
			<xs:enumeration value="3320"/>
			<xs:enumeration value="3511"/>
			<xs:enumeration value="3512"/>
			<xs:enumeration value="3513"/>
			<xs:enumeration value="3514"/>
			<xs:enumeration value="3521"/>
			<xs:enumeration value="3522"/>
			<xs:enumeration value="3523"/>
			<xs:enumeration value="3530"/>
			<xs:enumeration value="3600"/>
			<xs:enumeration value="3700"/>
			<xs:enumeration value="3811"/>
			<xs:enumeration value="3812"/>
			<xs:enumeration value="3821"/>
			<xs:enumeration value="3822"/>
			<xs:enumeration value="3831"/>
			<xs:enumeration value="3832"/>
			<xs:enumeration value="3900"/>
			<xs:enumeration value="4110"/>
			<xs:enumeration value="4120"/>
			<xs:enumeration value="4211"/>
			<xs:enumeration value="4212"/>
			<xs:enumeration value="4213"/>
			<xs:enumeration value="4221"/>
			<xs:enumeration value="4222"/>
			<xs:enumeration value="4291"/>
			<xs:enumeration value="4299"/>
			<xs:enumeration value="4311"/>
			<xs:enumeration value="4312"/>
			<xs:enumeration value="4313"/>
			<xs:enumeration value="4321"/>
			<xs:enumeration value="4322"/>
			<xs:enumeration value="4329"/>
			<xs:enumeration value="4331"/>
			<xs:enumeration value="4332"/>
			<xs:enumeration value="4333"/>
			<xs:enumeration value="4334"/>
			<xs:enumeration value="4339"/>
			<xs:enumeration value="4391"/>
			<xs:enumeration value="4399"/>
			<xs:enumeration value="4511"/>
			<xs:enumeration value="4519"/>
			<xs:enumeration value="4520"/>
			<xs:enumeration value="4531"/>
			<xs:enumeration value="4532"/>
			<xs:enumeration value="4540"/>
			<xs:enumeration value="4611"/>
			<xs:enumeration value="4612"/>
			<xs:enumeration value="4613"/>
			<xs:enumeration value="4614"/>
			<xs:enumeration value="4615"/>
			<xs:enumeration value="4616"/>
			<xs:enumeration value="4617"/>
			<xs:enumeration value="4618"/>
			<xs:enumeration value="4619"/>
			<xs:enumeration value="4621"/>
			<xs:enumeration value="4622"/>
			<xs:enumeration value="4623"/>
			<xs:enumeration value="4624"/>
			<xs:enumeration value="4631"/>
			<xs:enumeration value="4632"/>
			<xs:enumeration value="4633"/>
			<xs:enumeration value="4634"/>
			<xs:enumeration value="4635"/>
			<xs:enumeration value="4636"/>
			<xs:enumeration value="4637"/>
			<xs:enumeration value="4638"/>
			<xs:enumeration value="4639"/>
			<xs:enumeration value="4641"/>
			<xs:enumeration value="4642"/>
			<xs:enumeration value="4643"/>
			<xs:enumeration value="4644"/>
			<xs:enumeration value="4645"/>
			<xs:enumeration value="4646"/>
			<xs:enumeration value="4647"/>
			<xs:enumeration value="4648"/>
			<xs:enumeration value="4649"/>
			<xs:enumeration value="4651"/>
			<xs:enumeration value="4652"/>
			<xs:enumeration value="4661"/>
			<xs:enumeration value="4662"/>
			<xs:enumeration value="4663"/>
			<xs:enumeration value="4664"/>
			<xs:enumeration value="4665"/>
			<xs:enumeration value="4666"/>
			<xs:enumeration value="4669"/>
			<xs:enumeration value="4671"/>
			<xs:enumeration value="4672"/>
			<xs:enumeration value="4673"/>
			<xs:enumeration value="4674"/>
			<xs:enumeration value="4675"/>
			<xs:enumeration value="4676"/>
			<xs:enumeration value="4677"/>
			<xs:enumeration value="4690"/>
			<xs:enumeration value="4711"/>
			<xs:enumeration value="4719"/>
			<xs:enumeration value="4721"/>
			<xs:enumeration value="4722"/>
			<xs:enumeration value="4723"/>
			<xs:enumeration value="4724"/>
			<xs:enumeration value="4725"/>
			<xs:enumeration value="4726"/>
			<xs:enumeration value="4729"/>
			<xs:enumeration value="4730"/>
			<xs:enumeration value="4741"/>
			<xs:enumeration value="4742"/>
			<xs:enumeration value="4743"/>
			<xs:enumeration value="4751"/>
			<xs:enumeration value="4752"/>
			<xs:enumeration value="4753"/>
			<xs:enumeration value="4754"/>
			<xs:enumeration value="4759"/>
			<xs:enumeration value="4761"/>
			<xs:enumeration value="4762"/>
			<xs:enumeration value="4763"/>
			<xs:enumeration value="4764"/>
			<xs:enumeration value="4765"/>
			<xs:enumeration value="4771"/>
			<xs:enumeration value="4772"/>
			<xs:enumeration value="4773"/>
			<xs:enumeration value="4774"/>
			<xs:enumeration value="4775"/>
			<xs:enumeration value="4776"/>
			<xs:enumeration value="4777"/>
			<xs:enumeration value="4778"/>
			<xs:enumeration value="4779"/>
			<xs:enumeration value="4781"/>
			<xs:enumeration value="4782"/>
			<xs:enumeration value="4789"/>
			<xs:enumeration value="4791"/>
			<xs:enumeration value="4799"/>
			<xs:enumeration value="4910"/>
			<xs:enumeration value="4920"/>
			<xs:enumeration value="4931"/>
			<xs:enumeration value="4932"/>
			<xs:enumeration value="4939"/>
			<xs:enumeration value="4941"/>
			<xs:enumeration value="4942"/>
			<xs:enumeration value="4950"/>
			<xs:enumeration value="5010"/>
			<xs:enumeration value="5020"/>
			<xs:enumeration value="5030"/>
			<xs:enumeration value="5040"/>
			<xs:enumeration value="5110"/>
			<xs:enumeration value="5121"/>
			<xs:enumeration value="5210"/>
			<xs:enumeration value="5221"/>
			<xs:enumeration value="5222"/>
			<xs:enumeration value="5223"/>
			<xs:enumeration value="5224"/>
			<xs:enumeration value="5229"/>
			<xs:enumeration value="5310"/>
			<xs:enumeration value="5320"/>
			<xs:enumeration value="5510"/>
			<xs:enumeration value="5520"/>
			<xs:enumeration value="5530"/>
			<xs:enumeration value="5590"/>
			<xs:enumeration value="5610"/>
			<xs:enumeration value="5621"/>
			<xs:enumeration value="5629"/>
			<xs:enumeration value="5630"/>
			<xs:enumeration value="5811"/>
			<xs:enumeration value="5812"/>
			<xs:enumeration value="5813"/>
			<xs:enumeration value="5814"/>
			<xs:enumeration value="5819"/>
			<xs:enumeration value="5821"/>
			<xs:enumeration value="5829"/>
			<xs:enumeration value="5911"/>
			<xs:enumeration value="5912"/>
			<xs:enumeration value="5913"/>
			<xs:enumeration value="5914"/>
			<xs:enumeration value="5920"/>
			<xs:enumeration value="6010"/>
			<xs:enumeration value="6020"/>
			<xs:enumeration value="6110"/>
			<xs:enumeration value="6120"/>
			<xs:enumeration value="6130"/>
			<xs:enumeration value="6190"/>
			<xs:enumeration value="6201"/>
			<xs:enumeration value="6202"/>
			<xs:enumeration value="6203"/>
			<xs:enumeration value="6209"/>
			<xs:enumeration value="6311"/>
			<xs:enumeration value="6312"/>
			<xs:enumeration value="6391"/>
			<xs:enumeration value="6399"/>
			<xs:enumeration value="6411"/>
			<xs:enumeration value="6419"/>
			<xs:enumeration value="6420"/>
			<xs:enumeration value="6430"/>
			<xs:enumeration value="6491"/>
			<xs:enumeration value="6492"/>
			<xs:enumeration value="6499"/>
			<xs:enumeration value="6511"/>
			<xs:enumeration value="6512"/>
			<xs:enumeration value="6520"/>
			<xs:enumeration value="6530"/>
			<xs:enumeration value="6611"/>
			<xs:enumeration value="6612"/>
			<xs:enumeration value="6619"/>
			<xs:enumeration value="6621"/>
			<xs:enumeration value="6622"/>
			<xs:enumeration value="6629"/>
			<xs:enumeration value="6630"/>
			<xs:enumeration value="6810"/>
			<xs:enumeration value="6820"/>
			<xs:enumeration value="6831"/>
			<xs:enumeration value="6832"/>
			<xs:enumeration value="6910"/>
			<xs:enumeration value="6920"/>
			<xs:enumeration value="7010"/>
			<xs:enumeration value="7021"/>
			<xs:enumeration value="7022"/>
			<xs:enumeration value="7111"/>
			<xs:enumeration value="7112"/>
			<xs:enumeration value="7120"/>
			<xs:enumeration value="7211"/>
			<xs:enumeration value="7219"/>
			<xs:enumeration value="7220"/>
			<xs:enumeration value="7311"/>
			<xs:enumeration value="7312"/>
			<xs:enumeration value="7320"/>
			<xs:enumeration value="7410"/>
			<xs:enumeration value="7420"/>
			<xs:enumeration value="7430"/>
			<xs:enumeration value="7490"/>
			<xs:enumeration value="7500"/>
			<xs:enumeration value="7711"/>
			<xs:enumeration value="7712"/>
			<xs:enumeration value="7721"/>
			<xs:enumeration value="7722"/>
			<xs:enumeration value="7729"/>
			<xs:enumeration value="7731"/>
			<xs:enumeration value="7732"/>
			<xs:enumeration value="7733"/>
			<xs:enumeration value="7734"/>
			<xs:enumeration value="7735"/>
			<xs:enumeration value="7739"/>
			<xs:enumeration value="7740"/>
			<xs:enumeration value="7810"/>
			<xs:enumeration value="7820"/>
			<xs:enumeration value="7830"/>
			<xs:enumeration value="7911"/>
			<xs:enumeration value="7912"/>
			<xs:enumeration value="7990"/>
			<xs:enumeration value="8010"/>
			<xs:enumeration value="8020"/>
			<xs:enumeration value="8030"/>
			<xs:enumeration value="8110"/>
			<xs:enumeration value="8121"/>
			<xs:enumeration value="8122"/>
			<xs:enumeration value="8129"/>
			<xs:enumeration value="8130"/>
			<xs:enumeration value="8211"/>
			<xs:enumeration value="8219"/>
			<xs:enumeration value="8220"/>
			<xs:enumeration value="8230"/>
			<xs:enumeration value="8291"/>
			<xs:enumeration value="8292"/>
			<xs:enumeration value="8299"/>
			<xs:enumeration value="8411"/>
			<xs:enumeration value="8412"/>
			<xs:enumeration value="8413"/>
			<xs:enumeration value="8421"/>
			<xs:enumeration value="8423"/>
			<xs:enumeration value="8424"/>
			<xs:enumeration value="8425"/>
			<xs:enumeration value="8430"/>
			<xs:enumeration value="8510"/>
			<xs:enumeration value="8520"/>
			<xs:enumeration value="8531"/>
			<xs:enumeration value="8532"/>
			<xs:enumeration value="8541"/>
			<xs:enumeration value="8542"/>
			<xs:enumeration value="8551"/>
			<xs:enumeration value="8552"/>
			<xs:enumeration value="8553"/>
			<xs:enumeration value="8559"/>
			<xs:enumeration value="8560"/>
			<xs:enumeration value="8610"/>
			<xs:enumeration value="8621"/>
			<xs:enumeration value="8622"/>
			<xs:enumeration value="8623"/>
			<xs:enumeration value="8690"/>
			<xs:enumeration value="8710"/>
			<xs:enumeration value="8720"/>
			<xs:enumeration value="8730"/>
			<xs:enumeration value="8790"/>
			<xs:enumeration value="8810"/>
			<xs:enumeration value="8891"/>
			<xs:enumeration value="8899"/>
			<xs:enumeration value="9001"/>
			<xs:enumeration value="9002"/>
			<xs:enumeration value="9003"/>
			<xs:enumeration value="9004"/>
			<xs:enumeration value="9101"/>
			<xs:enumeration value="9102"/>
			<xs:enumeration value="9103"/>
			<xs:enumeration value="9104"/>
			<xs:enumeration value="9200"/>
			<xs:enumeration value="9311"/>
			<xs:enumeration value="9312"/>
			<xs:enumeration value="9313"/>
			<xs:enumeration value="9319"/>
			<xs:enumeration value="9321"/>
			<xs:enumeration value="9329"/>
			<xs:enumeration value="9411"/>
			<xs:enumeration value="9412"/>
			<xs:enumeration value="9420"/>
			<xs:enumeration value="9491"/>
			<xs:enumeration value="9492"/>
			<xs:enumeration value="9499"/>
			<xs:enumeration value="9511"/>
			<xs:enumeration value="9512"/>
			<xs:enumeration value="9521"/>
			<xs:enumeration value="9522"/>
			<xs:enumeration value="9523"/>
			<xs:enumeration value="9524"/>
			<xs:enumeration value="9525"/>
			<xs:enumeration value="9529"/>
			<xs:enumeration value="9601"/>
			<xs:enumeration value="9602"/>
			<xs:enumeration value="9603"/>
			<xs:enumeration value="9604"/>
			<xs:enumeration value="9609"/>
			<xs:enumeration value="9700"/>
			<xs:enumeration value="9900"/>
			<xs:enumeration value="8422"/>
			<xs:enumeration value="5122"/>
			<xs:enumeration value="9810"/>
			<xs:enumeration value="9820"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str1000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Email200SType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str75">
		<xs:restriction base="xs:string">
			<xs:maxLength value="75"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntNeg16SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="-9999999999999999"/>
			<xs:maxInclusive value="9999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DblNeg15_3SType">
		<xs:restriction base="xs:double">
			<xs:pattern value="\d{0,15}(\.\d{0,3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_um1SType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:enumeration value="hl/1 grad Plato"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntNeg15SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="-999999999999999"/>
			<xs:maxInclusive value="999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_um2SType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:enumeration value="hl produs"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_um11SType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:enumeration value="hl alcool pur"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_um3SType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:enumeration value="1000 tigarete"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_um4SType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:enumeration value="1000 bucati"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_um5SType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:enumeration value="kg"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_um6SType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:enumeration value="tona"/>
			<xs:enumeration value="1000 litri"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_um7SType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:enumeration value="tona"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_um8SType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:enumeration value="GJ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_um9SType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:enumeration value="Mwh"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_um12SType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:enumeration value="ml"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
