backend/resources/declarations/d311_20210129.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="mfp:anaf:dgti:d311:declaratie:v1" targetNamespace="mfp:anaf:dgti:d311:declaratie:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.02" xml:lang="ro">
	<xs:element name="declaratie311" type="Declaratie311Type"/>
	<xs:complexType name="Declaratie311Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="luna" type="IntInt1_12SType" use="required"/>
				<xs:attribute name="an" type="IntInt2016_2100SType" use="required"/>
				<xs:attribute name="d_rec" type="IntInt0_1SType" use="required"/>
				<xs:attribute name="d_anulare" type="IntInt0_1SType" use="required"/>
				<xs:attribute name="temei" type="IntInt1_2SType"/>
				<xs:attribute name="nume_declar" type="Str75" use="required"/>
				<xs:attribute name="prenume_declar" type="Str75" use="required"/>
				<xs:attribute name="functie_declar" type="Str50" use="required"/>
				<xs:attribute name="cui" type="CifSType" use="required"/>
				<xs:attribute name="den" type="Str200" use="required"/>
				<xs:attribute name="adresa" type="Str1000" use="required"/>
				<xs:attribute name="telefon" type="Str15"/>
				<xs:attribute name="fax" type="Str15"/>
				<xs:attribute name="mail" type="Str200"/>
				<xs:attribute name="Data_A" type="DateSType" use="required"/>
				<xs:attribute name="d_anul1" type="IntInt0_1SType" use="required"/>
				<xs:attribute name="d_anul2" type="IntInt0_1SType" use="required"/>
				<xs:attribute name="totalPlata_A" type="IntNeg16SType" use="required"/>
				<xs:attribute name="OB_11" type="IntPoz15SType"/>
				<xs:attribute name="OB_12" type="IntPoz15SType"/>
				<xs:attribute name="OB_21" type="IntPoz15SType"/>
				<xs:attribute name="OB_22" type="IntPoz15SType"/>
				<xs:attribute name="OB_31" type="IntPoz15SType"/>
				<xs:attribute name="OB_32" type="IntPoz15SType"/>
				<xs:attribute name="OB_41" type="IntPoz15SType"/>
				<xs:attribute name="OB_42" type="IntPoz15SType"/>
				<xs:attribute name="OB_51" type="IntPoz15SType"/>
				<xs:attribute name="OB_52" type="IntPoz15SType"/>
				<xs:attribute name="OB_61" type="IntPoz15SType"/>
				<xs:attribute name="OB_62" type="IntPoz15SType"/>
				<xs:attribute name="cifS" type="CifSType"/>
				<xs:attribute name="Data_I" type="DateSType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="IntInt1_12SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt2016_2100SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="2016"/>
			<xs:maxInclusive value="2100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt0_1SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt1_2SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str75">
		<xs:restriction base="xs:string">
			<xs:maxLength value="75"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CifSType">
		<xs:restriction base="xs:token">
			<xs:pattern value="[1-9]\d{12}|[1-9]\d{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str200">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str1000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateSType">
		<xs:restriction base="xs:token">
			<xs:pattern value="([1-9]|0[1-9]|[12][0-9]|3[01])\.([1-9]|0[1-9]|1[012])\.\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntNeg16SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="-9999999999999999"/>
			<xs:maxInclusive value="9999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntPoz15SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
