backend/resources/declarations/d710_20012025.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="mfp:anaf:dgti:d710:declaratie:v2" targetNamespace="mfp:anaf:dgti:d710:declaratie:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.02" xml:lang="ro">
	<xs:element name="declaratie710" type="Declaratie710Type"/>
	<xs:complexType name="Declaratie710Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:sequence>
					<xs:element name="obligatie" type="ObligatieType" maxOccurs="1300"/>
				</xs:sequence>
				<xs:attribute name="luna" type="IntInt1_12SType" use="required"/>
				<xs:attribute name="an" type="IntInt2011_2100SType" use="required"/>
				<xs:attribute name="d_succ" type="IntInt0_1SType" />
				<xs:attribute name="d_dizolv" type="IntInt0_1SType" />
				<xs:attribute name="d_energie" type="IntInt0_1SType" />
				<xs:attribute name="d_modif" type="IntInt0_1SType" />
				<xs:attribute name="d_anulare" type="IntInt0_1SType" use="required"/>
				<xs:attribute name="temei" type="IntInt1_2SType"/>
				<xs:attribute name="d_recN" type="IntInt1_1SType"/>
				<xs:attribute name="nume_declar" type="Str75" use="required"/>
				<xs:attribute name="prenume_declar" type="Str75" use="required"/>
				<xs:attribute name="functie_declar" type="Str50" use="required"/>
				<xs:attribute name="cui" type="CifSType" use="required"/>
				<xs:attribute name="cifS" type="CifSType" />
				<xs:attribute name="den" type="Str200" use="required"/>
				<xs:attribute name="adresa" type="Str1000" use="required"/>
				<xs:attribute name="telefon" type="Str15"/>
				<xs:attribute name="fax" type="Str15"/>
				<xs:attribute name="mail" type="Email200SType"/>
				<xs:attribute name="cifR" type="CifSType" />
				<xs:attribute name="denR" type="Str200" />
				<xs:attribute name="adrR" type="Str1000" />
				<xs:attribute name="telR" type="Str15"/>
				<xs:attribute name="faxR" type="Str15"/>
				<xs:attribute name="emailR" type="Email200SType"/>
				<xs:attribute name="totalPlata_A" type="IntPoz15SType" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObligatieType">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="cod_oblig" type="IntPoz15SType" use="required"/>
				<xs:attribute name="cod_bugetar" type="Str10" use="required"/>
				<xs:attribute name="scadenta" type="DateSType" use="required"/>
				<xs:attribute name="nr_evid" type="IntStr23SType" use="required"/>
				<xs:attribute name="suma_dat_i" type="IntPoz15SType"/>
				<xs:attribute name="suma_dat_c" type="IntPoz15SType"/>
				<xs:attribute name="suma_ded_i" type="IntPoz15SType"/>
				<xs:attribute name="suma_ded_c" type="IntPoz15SType"/>
				<xs:attribute name="suma_plata_i" type="IntPoz15SType"/>
				<xs:attribute name="suma_plata_c" type="IntPoz15SType"/>
				<xs:attribute name="suma_rest_i" type="IntPoz15SType"/>
				<xs:attribute name="suma_rest_c" type="IntPoz15SType"/>
				<xs:attribute name="cota" type="IntInt1_3SType"/>
			</xs:restriction>
</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="IntInt0_1SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt1_1SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt1_2SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt1_3SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IntInt1_12SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt2011_2100SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="2011"/>
			<xs:maxInclusive value="2100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str75">
		<xs:restriction base="xs:string">
			<xs:maxLength value="75"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CifSType">
		<xs:restriction base="xs:token">
			<xs:pattern value="[1-9]\d{12}|[1-9]\d{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str200">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str1000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Email200SType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntPoz15SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Str10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateSType">
		<xs:restriction base="xs:token">
			<xs:pattern value="([1-9]|0[1-9]|[12][0-9]|3[01])\.([1-9]|0[1-9]|1[012])\.\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntStr23SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
